.msg-container{
    border-radius: 15px;
    background-color: #adaeb1;
    width: 75%;
    padding: 1.5%;
    margin: 1%;
    float: left;
}
.msg-userid{
    font-weight: bold;
}
.msg-own{
    text-align: right;
    float: right;
    color: #fff;
    background-color: #0084ff;  
}
.profile__img{
    border-radius: 50%;
    border: 1px solid gray;
    margin: 3%;
}
.profile__name{
    font-size: 60px;
}
.profile__email{
    font-size: 20px;
}
.profile__userInfo{
    left: 50%;
    position: absolute;
    top: 10%;
}
.profile__content{
    height: 90%;
    padding: 5%;
}