#logokth {
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

p {
    font-family: sans-serif;
}

h1 {
    color: #1954a6;
    text-align: center;

}

.butt {
    background: #1255a0;
}

#logout {
    position: center;
    width: 100%;
}
#user-login {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#pwd-login {
    display: block;
    margin-left: auto;
    margin-right: auto
}
#loginbutton {
    display: block;
    width: 150px;
    margin: 20px;
    margin-left: auto;
    margin-right: auto
}
#ingetkontobutton {
    display: block;
    width: 150px;
    margin-left: auto;
    margin-right: auto
}

#msg-toolbar ons-icon {
    margin-right: 4px;
    margin-left: 4px;
    padding-top: 8px;
    font-size:30px !important;
    color: #1954a6;
}
ons-list-item ons-icon{
    margin-right: 5px;
}
.iconFunction {
    width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.toolbar {
    background: #1255a0;
}

#register-form {
    position: center;
}

#register-form input {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


#register-form > p {
    position: center;
    padding : 4%;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 5%;
    margin-right: 5%;
}

#register-form > ons-button {
    display: block;
    width: 150px;
    margin: 20px;
    margin-left: auto;
    margin-right: auto
}

#register-form > img {
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

img {
    max-width: 100%;
    max-height: auto;
}
#msg-input{
    width: 76%;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}
#fileicon {
    margin-left: 1em;
    margin-right: 0.5em;
}
#sendIcon {
    margin-left: 0.5em;
    margin-right: 1em;
}


.msg-container{
    border-radius: 15px;
    background-color: #dee0e2;
    width: 75%;
    padding: 1.5%;
    margin: 1%;
    float: left;
}
.msg-userid{
    font-weight: bold;
}
.msg-own{
    text-align: right;
    float: right;
    color: #fff;
    background-color: #1255a0;
}
.msg-content{
    overflow-wrap: break-word;
}

.profile__img{
    border-radius: 50%;
    border: 1px solid gray;
    margin: 3%;
}
.profile__name{
    font-size: 60px;
}
.profile__email{
    font-size: 20px;
}
.profile__userInfo{
    left: 50%;
    position: absolute;
    top: 10%;
}
.profile__content{
    height: 90%;
    padding: 5%;
}

.card__title {
    /*color: white;*/
    margin-top: 0%;
    padding-top: 0%;
}


.card {
    padding-top: 2%;
}

.card__content {

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.back-button {
    color: white !important;
}

#chat-room-header {
    color: white !important;
}

#lobby-header {
    color: white !important;
}

#toolbar-back-button {
    fill: white !important;
    stroke: white !important;
}
